.container {
  display: flex;
  background-color: #dcdcdc;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.content {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  border-radius: 15px;
  width: 75%;
  height: 500px;
  overflow: hidden;
}

.content::before {
  content: "";
  position: absolute;
  width: 40%;
  height: 100%;
  left: 60%;
  background-color:	#20B2AA;
}

.login {
  display: flex;
  position: absolute;
}

.login-first {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 100%;
  flex: 1 0 60%;
}
.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 15px;
}

.list li:not(:first-child) {
  margin-left: 25px;
}


.list-item fa-icon {
  font-size: 24px;
  cursor: pointer;
  color: rgba(0, 0, 0, 0.2);
}

.list-item fa-icon:hover {
  color: #20B2AA;
}

.form-group {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  width: 55%;
  display: flex;
  flex-direction: column;
  margin: 10px 0;
}

.form-group input {
  outline: none;
  border: none;
  background-color: #dcdcdc;
  border-radius: 15px;
  padding: 14px 35px;
  width: 100%;
  margin: 0 auto;
}

.form-group input::placeholder{
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
}

.input-container {
  position: relative;
  display: flex;
  align-items: center;
}

.input-icon {
  position: absolute;
  left: 10px;
  color: #666;
}

.form-control {
  padding-left: 35px; /* espaço para o ícone */
  width: 100%;
}

.button {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  border: none;
  background-color: transparent;
  margin-top: 20px;
  cursor: pointer;
}

.button-secondary {
  border: 1px solid #20B2AA;
  border-radius: 15px;
  color:#20B2AA;
  padding: 12px 40px;
}

.button-secondary:hover {
  background-color: #20B2AA;
  color: white;
}

.button-primary {
  border: 1px solid white;
  border-radius: 15px;
  color: white;
  padding: 12px 40px;
}

.button-primary:hover {
  background-color: white;
  color: #20B2AA;
}

.title {
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
}

.text {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  margin-top: 10px;
}

.color-primary {
  color: white;
}

.color-secondary {
  color: #20B2AA;
}

.login-second {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 100%;
  flex: 1 0 40%;
}
