<div class="container" [formGroup]="formGroup">
  <div class="login content">
    <div class="login-first">
      <h2 class="title color-secondary">Login</h2>
      <form class="form">
        <ul class="list">
          <li class="list-item"><fa-icon [icon]="faGoogle"></fa-icon></li>
          <li class="list-item"><fa-icon [icon]="faGithub"></fa-icon></li>
          <li class="list-item"><fa-icon [icon]="faLinkedin"></fa-icon></li>
        </ul>
        <p class="text color-secondary">or use your email</p>
        <div class="form-group">
          <div class="input-container">
            <fa-icon [icon]="faEnvelope" class="input-icon"></fa-icon>
            <input type="email" class="form-control" id="email" formControlName="scUsuario" placeholder="Email"/>
          </div>
        </div>
        <div class="form-group">
          <div class="input-container">
            <fa-icon [icon]="faLock" class="input-icon"></fa-icon>
            <input type="password" class="form-control" id="password" formControlName="scSenha" placeholder="Password"/>
          </div>
        </div>
        <button type="submit" class="button button-secondary" (click)="onSubmit()">Sign in</button>
      </form>
    </div>
    <div class="login-second">
      <h2 class="title color-primary">Register</h2>
      <p class="text color-primary">Don't have an account?</p>
      <p class="text color-primary">Register now and get access to all the features!</p>
      <button class="button button-primary" (click)="openModal()">sign up</button>
      <ng-template #modalContainer>
        <app-cadastro></app-cadastro>
      </ng-template>
    </div>
  </div>
</div>
