<div class="container">
  <nav class="navbar">
    <span class="logo">Financial manager</span>
    <ul class="list">
      <li class="item">Relatorio</li>
      <li class="item">Planilha</li>
      <li class="item">Carteira</li>
      <li class="item">Cadastro</li>
      <li class="item dropdown">
        <a href="#" class="dropdown-toggle">Perfil</a>
        <ul class="dropdown-menu">
          <li><a href="#">Meu Perfil</a></li>
          <li><a href="#">Configurações</a></li>
          <li><a href="#">Sair</a></li>
        </ul>
      </li>
    </ul>
  </nav>
  <router-outlet></router-outlet>
</div>

